html,body{ 
    background-color: #F5F5F5;
    margin:0; 
    font-family: 'Literata', serif;
    overflow-x: hidden;

}

.logo { 
  font-size: 3vw; 
  padding-left: 5%;
  padding-top:10px; 
  font-weight: 900;

}



nav { 

  width:100vw; 
  height:75px; 
  background-color: #66C3F8;

  display:flex; 
  align-items: center;
}

#inputswrapper{
  margin-left:40%;

}

h1 { 
  margin-top:10%; 
  font-size:6vw; 
  width:40%; 
  margin-left:5%; 
}

#contactform{
  position:absolute; 
  right:30%; 
  top:20%; 
  padding:90px; 
  font-size:24px; 
  

}



